<div class="">
  <%= form_for :boat, url: '/boats' do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class:"", placeholder:"name", required: true %>
    <%= f.label :description %>
    <%= f.text_field :description, class:"", placeholder:"description" %>
    <%= f.label :length %>
    <%= f.text_field :length, class:"", placeholder:"length" %>
    <%= f.label :width %>
    <%= f.text_field :width, class:"", placeholder:"width" %>
    <%= f.label :height %>
    <%= f.text_field :height, class:"", placeholder:"height" %>
    <%= f.label :carrying %>
    <%= f.text_field :carrying, class:"", placeholder:"carrying" %>
    <%= f.label :passengers %>
    <%= f.text_field :passengers, class:"", placeholder:"passengers" %>
    <%= f.label :weight %>
    <%= f.text_field :weight, class:"", placeholder:"weight" %>
    <%= f.label :madein %>
    <%= f.text_field :madein, class:"", placeholder:"madein" %>
    <%= f.label :engine %>
    <%= f.text_field :engine, class:"", placeholder:"engine" %>
    <%= f.label :brand_id %>
    <%= f.text_field :brand_id, class:"", placeholder:"brand_id" %>
    <%= f.label :type_id %>
    <%= f.text_field :type_id, class:"", placeholder:"type_id" %>
    <%= f.submit 'save' %>
  <% end %>

</div>
