<div> name: <%= @boat.name %> </div>
<div> length: <%= @boat.length %> </div>
<div> width: <%= @boat.width %> </div>
<div> height: <%= @boat.height %> </div>
<div> carrying: <%= @boat.carrying %> </div>
<div> passengers: <%= @boat.passengers %> </div>
<div> weight: <%= @boat.weight %> </div>
<div> madein: <%= @boat.madein %> </div>
<div> engine: <%= @boat.engine %> </div>
<div> description: <%= @boat.description %> </div>
